{% extends "base.html" %}

{% block title %}
    Tienda
{% endblock %}

{% load static %}

{% block content %}


<div class="container">

    <div style="float: right;">
        {% if request.user.is_authenticated %}

            {% include "widgets/carrito-tienda.html" %}

        {% else %}

        <div class="alert alert-danger text-center">
            Login para ver carro
        </div>

        {% endif %}

    </div>

    <div class="row">

        {% for producto in productos %}

            <div class="col-md-3">

                <div class="card" style="width: 100%; margin: 10px 10px; background-color: rgb(88,152,82);">

                    <img src="{{producto.imagen.url}}" alt="#" class="card-img-top">

                    <div class="card-body" style="text-align: center; color: white;">

                        <h7 class="cart-title">{{producto.nombre}} </h7>

                        <p class="cart-text"> {{producto.precio}} $RD </p>

                    </div>

                    <div class="card-footer text-center">
                        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success"> Agregar al carro</a>
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}