{% extends "base.html" %}

{% block title %}
    Tienda
{% endblock %}

{% load static %}

{% block content %}

{% include 'widgets/section-header.html'%}

<div class="container">

    <div style="float: right;">
        {% if request.user.is_authenticated %}

            {% include "widgets/carrito-tienda.html" %}

        {% else %}

        <div class="alert alert-danger text-center">
            Login para ver carro
        </div>

        {% endif %}

    </div>

    <div class="row">

        {% for producto in productos %}

        <a class="item" href="{% url 'carro:agregar' producto.id %}">
            <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" title="{{producto.nombre}}">
            <div class="desc">
                <h4 class="headline">{{producto.nombre}}</h4>
                <p class="item-description">{{producto.descripcion}}</p>
                <div class="price">
                    <div class="recent">
                        <span>RD$</span>
                        <h5 class="headline mount">{{producto.precio|floatformat:2}}</h5>
                    </div>
                    {% if producto.precio_anterior != 0 %}
                        <div class="old">
                            <span>RD$</span>
                            <h6 class="headline mount">{{producto.precio_anterior|floatformat:2}}</h6>
                        </div>
                    {% else %}
                        <h6 class="headline">Nuevo</h6>
                    {% endif %}
                </div>
            </div>
        </a>

        {% endfor %}

    </div>

</div>

{% endblock %}