{% extends "base.html" %}

{% block title %}
Blog
{% endblock %}

{% load static %}

{% block content %}

{% include 'widgets/section-header.html'%}

<section class="sec-blog">

	<div class="content">
		{% for post in posts %}
		<a href="{% url 'post' post.id %}">
            <article class="card">
                <div class="imagen">
                    <img src="{{post.imagen.url}}"
                        alt="#">
                    <div class="categories">
						{% for categoria in post.badge.all %}
						<div class="badge">{{categoria.nombre}}</div>
						{% endfor %}
                    </div>
                </div>
                <div class="content">
                    <div class="heading-text">
                        <h3 class="publish">{{post.author}} • {{post.created}}</h3>
                        <div class="heading-icon">
                            <h2 class="heading">{{post.title}}</h2>
                            <box-icon name='link' color="#0D47A1"></box-icon>
                        </div>
                        <div class="description">
                            <p>{{post.description}}</p>
                        </div>
                    </div>
                </div>
            </article>
        </a>
		{% endfor %}
	</div>



	<!-- 
<span>{{post.title}}</span>
<span>{{post.description}}</span>
<p>{{post.author}}</p>
<p>{{post.created}}</p>


 -->


</section>






<section>

	<div style="width:75%; color: white; text-align: center; margin:auto;">
		Categorias:
		{% for post in posts %}
		{% for categoria in post.badge.all %}
		<a href="{% url 'categoria' categoria.id %}" class="linksCategorias">{{ categoria.nombre }}</a> &nbsp; | &nbsp;
		{% endfor %}
		{% endfor %}
	</div>

</section>

{% endblock %}