
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Inter;

}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.523%;
}

section {
    .present {
        display: block;
    }
}