@charset "UTF-8";
:root {
  --present-font-color: #333333;
  --present-span-color: #898F9F;
}

section {
  display: flex;
  padding: 50px 100px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 60px;
  align-self: stretch;
  background: #FFF;
}
section .sec-present {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
section .sec-present span {
  color: var(--present-span-color);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
section .sec-present h1 {
  color: var(--present-font-color);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-section {
  display: flex;
  height: calc(100vh - 90px);
  padding: 60px 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: stretch;
  background: linear-gradient(180deg, #393030 0%, rgba(57, 48, 48, 0.55) 100%), url("../img/bg_main.jpg");
}
.hero-section .box {
  width: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border-radius: 42px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.hero-section .box .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  align-self: stretch;
}
.hero-section .box .desc h1 {
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero-section .box .desc h1 span {
  color: #9EBFFF;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero-section .box .desc p {
  opacity: 0.7;
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.hero-section .box .buttons {
  display: flex;
  height: 61px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background: #65379E;
}
.hero-section .box .buttons a {
  color: #FFF;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.hero-section .box .buttons #servicios {
  display: flex;
  width: 180px;
  padding: 0px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 35px 0px 0px 35px;
}
.hero-section .box .buttons #servicios:hover {
  background: #8f62ca;
  animation: color-pulse 2s infinite;
}
.hero-section .box .buttons #tienda {
  display: flex;
  width: 180px;
  padding: 0px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 0px 35px 35px 0px;
  background: #744BA8;
  /* Definición de la animación "color-pulse" */
}
.hero-section .box .buttons #tienda:hover {
  background: #493267;
  animation: color-pulse 2s infinite;
}
@keyframes color-pulse {
  0%, 100% {
    background-color: #007bff; /* Color normal */
  }
  50% {
    background-color: #0056b3; /* Color cambiado */
  }
}

.habilidades-section .sec-present {
  width: 100%;
  align-items: center;
  height: auto;
}
.habilidades-section .container {
  display: flex;
  width: 100%;
}
.habilidades-section .container ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.habilidades-section .container .task {
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.habilidades-section .container .task .icon {
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #744BA8;
}
.habilidades-section .container .task .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.habilidades-section .container .task .text h4 {
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.habilidades-section .container .task .text p {
  width: 237.397px;
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8000000119;
}/*# sourceMappingURL=home.css.map */