@charset "UTF-8";
:root {
  --black: #000;
  --white: #fff;
  --azul-050: #E3F2FD;
  --azul-100: #BBDEFB;
  --azul-200: #90CAF9;
  --azul-300: #64B5F6;
  --azul-400: #42A5F5;
  --azul-500: #2196F3;
  --azul-600: #1E88E5;
  --azul-700: #1976D2;
  --azul-800: #1565C0;
  --azul-900: #0D47A1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 151.523%;
}

section {
  display: flex;
  padding: 60px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
  background: #FFF;
}
section .present {
  /* Estilos generales para la clase "present" */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  align-self: stretch;
}
section .present .badge {
  /* Estilos para la clase "badge" dentro de la clase "present" */
  display: flex;
  height: 22px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-left: 3px solid #1565C0;
  background: var(--azul-50, #E3F2FD);
  color: var(--azul-600, #1E88E5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
section .present .title {
  /* Estilos para la clase "title" dentro de la clase "present" */
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sec-hero {
  /* Estilos generales para la clase "sec-hero" */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url("../img/hero-imagen.png");
  background-size: cover;
  background-position: center center;
}
.sec-hero .text {
  /* Estilos para la clase "text" dentro de la clase "sec-hero" */
  display: flex;
  width: 754px;
  padding: 0px 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 23px;
  flex: 1 0 0;
  border-radius: 15px;
}
.sec-hero .text .hashtag {
  /* Estilos para la clase "hashtag" dentro de la clase "text" */
  color: var(--azul-800, #1565C0);
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
}
.sec-hero .text .title {
  /* Estilos para la clase "title" dentro de la clase "text" */
  color: var(--azul-900, #0D47A1);
  text-align: right;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}
.sec-hero .text .desc {
  /* Estilos para la clase "desc" dentro de la clase "text" */
  color: var(--black, #000);
  text-align: right;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6999999881;
}
.sec-hero .text .link {
  /* Estilos para la clase "link" dentro de la clase "text" */
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 237px;
  height: 80px;
  border-radius: 13px;
  background: #191B1A;
  box-shadow: -3px 5px 5px 0px rgba(255, 255, 255, 0.5) inset, -2px 2px 2px 0px rgba(0, 0, 0, 0.5) inset;
}
.sec-hero .text .link a {
  /* Estilos para el enlace <a> dentro de la clase "link" */
  color: #FFF;
  text-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.25);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sec-hero .text .link:hover {
  background: #111211;
}

.sec-choose-us .content {
  /* Estilos para la clase "content" dentro de la clase "sec-choose-us" */
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 53px;
}
.sec-choose-us .content ul {
  /* Estilos para la lista <ul> dentro de la clase "content" */
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 55px 192px;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
.sec-choose-us .content ul li {
  /* Estilos para los elementos <li> dentro de la lista <ul> */
  display: flex;
  width: 270px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}
.sec-choose-us .content ul li img {
  /* Estilos para las imágenes <img> dentro de los elementos <li> */
  width: 48px;
  height: 48px;
}
.sec-choose-us .content ul li h3 {
  /* Estilos para los encabezados <h3> dentro de los elementos <li> */
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sec-choose-us .content ul li p {
  /* Estilos para los párrafos <p> dentro de los elementos <li> */
  color: #666C89;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 151.523%;
}

.sec-about-us {
  /* Estilos generales para la clase "sec-about-us" */
  padding: 60px 100px 60px 0px;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  flex-direction: row;
}
.sec-about-us img {
  /* Estilos para las imágenes <img> dentro de la clase "sec-about-us" */
  width: 736px;
  height: 531.5px;
}
.sec-about-us aside {
  /* Estilos para el elemento <aside> dentro de la clase "sec-about-us" */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 19px;
  align-self: stretch;
}
.sec-about-us aside .present {
  /* Estilos para la clase "present" dentro de la clase "sec-about-us" */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.sec-about-us aside .present .badge {
  /* Estilos para los elementos <span> dentro de la clase "present" */
  /* Estilos para la clase "badge" dentro de la clase "present" */
  display: flex;
  height: 22px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-left: 3px solid #1565C0;
  background: var(--azul-50, #E3F2FD);
  color: var(--azul-600, #1E88E5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.sec-about-us aside .present .title {
  /* Estilos para los encabezados <h1> dentro de la clase "present" */
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sec-about-us aside p {
  /* Estilos para los párrafos <p> dentro del elemento <aside> */
  color: #666C89;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 151.523%;
}
.sec-about-us aside p span {
  /* Estilos para los elementos <span> dentro de los párrafos */
  color: var(--azul-700, #1976D2);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 151.523%;
}
.sec-about-us aside h4 {
  /* Estilos para los encabezados <h4> dentro del elemento <aside> */
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.523%;
}

.sec-blog {
  display: flex;
  padding: 60px 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.sec-blog .content {
  /* Estilos para la clase "content" dentro de la clase "sec-blog" */
  align-items: flex-start;
  justify-content: center;
  display: flex;
  padding: 40px 0px;
  align-content: center;
  gap: 60px;
  align-self: stretch;
  flex-wrap: wrap;
}
.sec-blog .content a .card {
  /* Estilos para la clase "card" dentro de la clase "content" */
  display: flex;
  width: 384px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  transition: box-shadow 250ms ease;
}
.sec-blog .content a .card .imagen {
  /* Estilos para la clase "imagen" dentro de la clase "card" */
  display: flex;
  height: 240px;
  align-items: center;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
.sec-blog .content a .card .imagen img {
  /* Estilos para las imágenes <img> dentro de la clase "imagen" */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sec-blog .content a .card .imagen .categories {
  /* Estilos para la clase "categories" dentro de la clase "imagen" */
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  bottom: 10;
  left: 10;
}
.sec-blog .content a .card .imagen .categories .badge {
  /* Estilos para la clase "badge" dentro de la clase "categories" */
  display: flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--azul-900, #0D47A1);
  color: var(--white, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.sec-blog .content a .card .content {
  /* Estilos para la clase "content" dentro de la clase "card" */
  display: flex;
  padding: 16px 16px 30px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.sec-blog .content a .card .content .heading-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.sec-blog .content a .card .content .heading-text .publish {
  /* Estilos para la clase "publish" dentro de la clase "heading-text" */
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  text-transform: capitalize;
}
.sec-blog .content a .card .content .heading-text .heading-icon {
  /* Estilos para la clase "heading-icon" dentro de la clase "content" */
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.sec-blog .content a .card .content .heading-text .heading-icon h2 {
  /* Estilos para los encabezados <h2> dentro de la clase "heading-icon" */
  overflow: hidden;
  color: #1A1A1A;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex: 1 0 0;
}
.sec-blog .content a .card .content .heading-text .heading-icon box-icon {
  width: 28px;
  height: 28px;
}
.sec-blog .content a .card .content .heading-text .description {
  /* Estilos para la clase "description" dentro de la clase "content" */
  overflow: hidden;
  color: #667085;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
}
.sec-blog .content a:hover .card {
  background: #FFF;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 250ms ease;
}

.sec-faqs {
  display: flex;
  padding: 60px 0px;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
  background: #FFF;
  flex-direction: row;
}
.sec-faqs aside {
  display: flex;
  padding-left: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
}
.sec-faqs aside .present {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.sec-faqs aside .present span {
  display: flex;
  height: 22px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--azul-600, #1E88E5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: var(--azul-50, #E3F2FD);
}
.sec-faqs aside .present h1 {
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sec-faqs aside ul.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
  width: 100%;
}
.sec-faqs aside ul.content li.faq-item {
  display: flex;
  width: 681px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
}
.sec-faqs aside ul.content li.faq-item .faq-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 43px;
  width: 100%;
  cursor: pointer;
}
.sec-faqs aside ul.content li.faq-item .faq-header h1 {
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sec-faqs aside ul.content li.faq-item .faq-header .box-icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.sec-faqs aside ul.content li.faq-item .faq-header .box-icon.rotate-icon {
  transform: rotate(90deg);
}
.sec-faqs aside ul.content li.faq-item .faq-header + p {
  display: none;
}
.sec-faqs aside ul.content li.faq-item p {
  padding: 0px 70px 20px 10px;
  color: #666C89;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 151.523%;
}
.sec-faqs .img {
  display: flex;
  width: 591px;
  height: 635px;
  flex-direction: column;
  align-items: flex-start;
  background: url("../img/faqs.png"), lightgray 50%;
}

.sec-contacto {
  /* Estilos generales para la clase "sec-contacto" */
}
.sec-contacto .content {
  /* Estilos para la clase "content" dentro de la clase "sec-contacto" */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}
.sec-contacto .content .formulary form .title {
  /* Estilos para la clase "title" dentro del formulario */
  display: flex;
  height: 54px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.sec-contacto .content .formulary form .title h1 {
  /* Estilos para los encabezados <h1> dentro de la clase "title" */
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sec-contacto .content .contact-info {
  /* Estilos para la lista <ul> con clase "contact-info" dentro de la clase "content" */
  display: flex;
  width: 333px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.sec-contacto .content .contact-info li {
  /* Estilos para los elementos <li> dentro de la lista */
  display: flex;
  height: 87px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
}
.sec-contacto .content .contact-info li .box {
  /* Estilos para la clase "box" dentro de los elementos <li> */
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--azul-900, #0D47A1);
}
.sec-contacto .content .contact-info li h3 {
  /* Estilos para los encabezados <h3> dentro de los elementos <li> */
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
nav .top-nav {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
nav .top-nav .logo {
  display: flex;
  width: 220px;
  height: 60px;
  align-items: center;
}
nav .top-nav .logo h3 {
  color: var(--azul-900, #0D47A1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
nav .top-nav ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
nav .top-nav ul.menu li.item {
  display: flex;
  height: 52px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .top-nav ul.menu li.item a {
  color: var(--azul-900, #0D47A1);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
nav .top-nav ul.menu li.item.active {
  border-bottom: 3px solid var(--azul-900, #0D47A1);
}
nav .top-nav .auth {
  display: flex;
  width: 220px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
nav .top-nav .toggle-menu-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .top-nav {
    flex-direction: column;
  }
  nav .top-nav .menu {
    flex-direction: column;
    gap: 10px;
  }
  nav .top-nav .menu li a {
    text-align: center;
  }
  nav .top-nav .auth {
    text-align: center;
    margin-top: 10px;
  }
  nav .top-nav .auth .button {
    display: block;
  }
  nav .top-nav .toggle-menu-btn {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
  }
}

.button {
  display: inline-flex;
  height: 52px;
  padding: 0px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.button.rounded {
  background: var(--azul-800, #1565C0);
  color: #FFF;
}
.button.rounded:hover {
  background: var(--azul-900, #0D47A1);
}
.button.rounded:active {
  background: var(--azul-700, #1976D2);
}
.button.exit-button {
  border-radius: 50px;
  padding: 0px 14px;
}

.header-section {
  display: flex;
  width: 100%;
  height: 437px;
  padding: 100px 0px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  background: url("../img/header-section.png"), lightgray 50%/cover no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header-section::before {
  content: ""; /* Necesario para que el pseudo-elemento sea visible */
  position: absolute; /* Posición absoluta para cubrir todo el contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.5);
}
.header-section .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-section .heading h1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}
.header-section .heading .from-to {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.header-section .heading .from-to a.main {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-section .heading .from-to a.page {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}/*# sourceMappingURL=home.css.map */