<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %}</title>

        {% load static %}
        {% include 'widgets/style_links.html' %}
    </head>

    <body>
        <!-- Si la direccion de la pagina actual no es igual a '/autenticacion/logear' esto se mostrara -->
        {% if request.path != '/autenticacion/logear'%}

        <!-- Menu de navegacion -->
        <nav>
            <div class="top-nav">
                <div class="logo"></div>
                <ul class="menu">
                    <li class="item active">
                        <a href="{% url 'Home'%}">Inicio</a>
                    </li>
                    <li class="item">
                        <a href="{% url 'Servicios'%}">Servicios</a>
                    </li>
                    <li class="item">
                        <a href="{% url 'Tienda'%}">Tienda</a>
                    </li>
                    <li class="item">
                        <a href="{% url 'Blog'%}">Blog</a>
                    </li>
                    <li class="item">
                        <a href="{% url 'Contacto'%}">Contacto</a>
                    </li>
                </ul>
                <div class="auth">
                    {% if user.is_authenticated %}
                        <a href="{% url 'cerrar_session'%}"></a>
                    {% else %}
                        <a href="{% url 'logear'%}" class="button rounded">Login</a>
                        <a href="{% url 'Autenticacion'%}" class="button">Registrate</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% else %}

        {% endif %}


        <!-- Contenido Cambiante -->
        {% block content %}

        {% endblock %}

        {% if request.path != '/autenticacion/logear'%}
        <!-- Pie de pagina -->
        
        {% else %}

        {% endif %}
        
        <script>
            $(document).ready(function() {
                // Al hacer clic en el botón toggle-menu-btn, mostramos u ocultamos el menú
                $('.toggle-menu-btn').on('click', function() {
                  $('.menu').slideToggle();
                });
              });
        </script>

        <!-- Bootstrap -->
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

        {% include 'widgets/scripts.html' %}
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>


</html>