

.section-login {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 70px 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background: linear-gradient(0deg, #000000b3 0%, rgba(0, 0, 0, 0.70) 100%), url("../img/bg_main.jpg");

    .main-frame {
        display: flex;
        width: 1263px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;

        border-radius: 7px;
        background: #FFF;
        
        .left-container {
            position: relative;
            display: flex;
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex: 1 0 0;
            align-self: stretch;

            background: linear-gradient(0deg, rgba(57, 48, 48, 0.90) 0%, rgba(57, 48, 48, 0.90) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

            .logo {
                display: flex;
                align-items: center;
                gap: 6px;
                opacity: 0.5;

                img {
                    width: 113px;
                    height: 79px;
                }
            
                h3 {
                    color: #FFF;
                    font-family: Alata;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .description {
                width: 388px;
                color: #FFF;
                text-align: center;
                font-family: Mulish;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                opacity: 0.5;
            }

            .socials {
                display: flex;
                align-items: flex-start;
                gap: 12px;

                position: absolute;
                left: 20px;
                bottom: 20px;

                a {
                    display: flex;
                    width: 48px;
                    height: 48px;
                    padding: 10px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    
                    border-radius: 24px;
                    border: 1px solid #828282;
                    
                    &:hover {
                        border-color: #FFF;
                    }
                }
            }

        }

        .right-container {
            display: flex;
            width: 438px;
            padding: 38px 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 48px;
            flex-shrink: 0;
            align-self: stretch;

            border-radius: 16px;
            background: #FFF;

            .formulary {
                display: flex;
                padding: 0px 60px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 48px;
                align-self: stretch;

                h1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    align-self: stretch;

                    color: #2D2A2A;
                    text-align: center;
                    font-family: Inter;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 28px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    align-self: stretch;
                    width: 100%;

                    // .form-group {
                    //     label {

                    //     }
                    //     div {
                    //         input {

                    //         }
                    //     }
                    // }
                }

                .forgot-password {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                    align-self: stretch;

                    p {
                        color: var(--light-text-secondary, #555);
                        text-align: center;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                    }

                    a {
                        color: var(--light-primary-main, #6B68FF);

                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                    }
                }
            }

        }
    }
}