{% extends "base.html"%}

{% block title %}
TechSolutionsID.com
{% endblock %}
{% load static %}

{% block content %}
<!-- Seccion de presentacion -->
<section class="sec-hero">
    <div class="text">
        <span class="hashtag">#ElectrónicosAlMáximo</span>
        <h2 class="title">Potenciando tu mundo digital</h2>
        <p class="desc">Reparación, Mantenimiento y Venta de Electrónicos con excelencia y confianza para potenciar tu
            mundo digital</p>
        <div class="link">
            <a href="{% url 'Servicios' %}">servicios</a>
        </div>
    </div>
</section>

<!-- Seccion de Porque Escojernos -->
<section class="sec-choose-us">
    <div class="present">
        <span class="badge">que hacemos?</span>
        <h2 class="title">Nuestros Servicios Logísticos</h2>
    </div>
    <div class="content">
        <ul>
            <li>
                <img src="{% static 'img/sec-choose-us/entrega-rapida.png' %}" alt="#">
                <h3>Entrega Rápida</h3>
                <p>Garantizamos la entrega puntual y eficiente de nuestros productos en el menor tiempo posible.</p>
            </li>
            <li>
                <img src="{% static 'img/sec-choose-us/mejor-calidad.png' %}" alt="#">
                <h3>La Mejor Calidad</h3>
                <p>Con el compromiso de brindar un servicio de alta calidad a nuestros clientes.</p>
            </li>
            <li>
                <img src="{% static 'img/sec-choose-us/canasta-venta.png' %}" alt="#">
                <h3>Venta de Equipos</h3>
                <p>Ofrecemos una selección de equipos y accesorios tecnológicos nuevos y de primera calidad.</p>
            </li>
            <li>
                <img src="{% static 'img/sec-choose-us/soporte.png' %}" alt="#">
                <h3>Soporte 24/7</h3>
                <p>Nuestro equipo de atención al cliente está disponible las 24 horas, los 7 días de la semana.</p>
            </li>
            <li>
                <img src="{% static 'img/sec-choose-us/reparacion.png' %}" alt="#">
                <h3>Reparación</h3>
                <p>Servicios de reparación especializados para mantener tus equipos en óptimas condiciones.</p>
            </li>
            <li>
                <img src="{% static 'img/sec-choose-us/mantenimiento.png' %}" alt="#">
                <h3>Mantenimiento</h3>
                <p>Mantenimiento para asegurar el rendimiento óptimo de tus equipos y minimizar el riesgo de fallas.</p>
            </li>
        </ul>
    </div>
</section>

<!-- Seccion de acerca de nosotros -->
<section class="sec-about-us">
    <img src="{% static 'img/about-us.png' %}" alt="About us imagen">
    <aside class="content">
        <div class="present">
            <span class="badge">Nosotros</span>
            <h2 class="title">Acerca de nuestra la empresa</h2>
        </div>
        <p>En TechSolutions, somos líderes en servicios de reparación y mantenimiento de equipos tecnológicos. Ofrecemos
            soluciones innovadoras y confiables para superar tus expectativas.</p>
        <h4>Nuestro enfoque</h4>
        <p>
            Nuestro enfoque en tres pilares fundamentales los cuales son la calidad, el servicio al cliente y la
            excelencia en cada paso del camino.
            <span>¡Bienvenido a una experiencia única con nosotros!</span>
        </p>
    </aside>
</section>

<!-- Seccion de blog recientes -->
<section class="sec-blog">
    <div class="present">
        <span class="badge">Blog</span>
        <h2 class="title">Tenemos un blog lleno de contenido</h2>
    </div>
    <div class="content">
        <a href="#">
            <article class="card">
                <div class="imagen">
                    <img src="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                        alt="#">
                    <div class="categories">
                        <div class="badge">badge</div>
                        <div class="badge">badge</div>
                    </div>
                </div>
                <div class="content">
                    <div class="heading-text">
                        <h6 class="publish">TechSolutions • 1 Jan 2023</h6>
                        <div class="heading-icon">
                            <h2 class="heading">{% lorem 5 w random %}</h2>
                            <box-icon name='link' color="#0D47A1"></box-icon>
                        </div>
                        <div class="description">
                            <p class="body-small">{% lorem 20 w random %}</p>
                        </div>
                    </div>
                </div>
            </article>
        </a>
        <a href="#">
            <article class="card">
                <div class="imagen">
                    <img src="https://images.unsplash.com/photo-1560264280-88b68371db39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                        alt="#">
                    <div class="categories">
                        <div class="badge">badge</div>
                        <div class="badge">badge</div>
                    </div>
                </div>
                <div class="content">
                    <div class="heading-text">
                        <h6 class="publish">TechSolutions • 1 Jan 2023</h6>
                        <div class="heading-icon">
                            <h2 class="heading">{% lorem 15 w random %}</h2>
                            <box-icon name='link' color="#0D47A1"></box-icon>
                        </div>
                        <div class="description">
                            <p class="body-small">{% lorem 20 w random %}</p>
                        </div>
                    </div>
                </div>
            </article>
        </a>
        <a href="#">
            <article class="card">
                <div class="imagen">
                    <img src="https://images.unsplash.com/photo-1560264280-88b68371db39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                        alt="#">
                    <div class="categories">
                        <div class="badge">badge</div>
                        <div class="badge">badge</div>
                    </div>
                </div>
                <div class="content">
                    <div class="heading-text">
                        <h6 class="publish">TechSolutions • 1 Jan 2023</h6>
                        <div class="heading-icon">
                            <h2 class="heading">{% lorem 5 w random %}</h2>
                            <box-icon name='link' color="#0D47A1"></box-icon>
                        </div>
                        <div class="description">
                            <p class="body-small">{% lorem 20 w random %}</p>
                        </div>
                    </div>
                </div>
            </article>
        </a>
    </div>
</section>

<!-- Seccion de preguntas frecuentes -->
<section class="sec-faqs">
    <aside>
        <div class="present">
            <span>FAQs</span>
            <h2>Preguntas frecuentes</h2>
        </div>
        <ul class="content">
            <li class="faq-item">
                <div class="faq-header">
                    <h5>¿Ofrecen servicio a domicilio para las reparaciones de electrónicos?</h5>
                    <box-icon class='box-icon' name='chevron-right' color='#0D47A1'></box-icon>
                </div>
                <p>
                    {% lorem 40 w random %}
                </p>
            </li>
            <li class="faq-item">
                <div class="faq-header">
                    <h5>¿Cuál es el tiempo promedio de reparación para los dispositivos electrónicos?</h5>
                    <box-icon class='box-icon' name='chevron-right' color='#0D47A1'></box-icon>
                </div>
                <p>El tiempo promedio de reparación varía según la complejidad del problema. Sin embargo, nos esforzamos por completar la mayoría de las reparaciones en un plazo de 3 a 5 días hábiles. En casos más complicados, te mantendremos informado sobre cualquier demora y el progreso del proceso de reparación.</p>
            </li>
            <li class="faq-item">
                <div class="faq-header">
                    <h5>¿Qué tipo de garantía ofrecen en sus servicios de reparación y mantenimiento?</h5>
                    <box-icon class='box-icon' name='chevron-right' color='#0D47A1'></box-icon>
                </div>
                <p>¿Cuáles son los métodos de pago aceptados en su tienda de tecnología?</p>
            </li>
            <li class="faq-item">
                <div class="faq-header">
                    <h5>¿Cuáles son los métodos de pago aceptados en su tienda de tecnología?</h5>
                    <box-icon class='box-icon' name='chevron-right' color='#0D47A1'></box-icon>
                </div>
                <p>
                    {% lorem 40 w random %}
                </p>
            </li>
        </ul>
    </aside>
    <div class="img">
        
    </div>
</section>

<!-- Seccion de contacto rapido -->
<section class="sec-contacto">
    <div class="present">
        <span class="badge">Contacto</span>
        <h2>Que estas esperando? contáctanos ahora</h2>
    </div>
    <div class="content">
        <div class="formulary">
            {% include 'widgets/formulario-contacto.html'%}
        </div>
        <ul class="contact-info">
            <li>
                <div class="box">
                    <box-icon name='world' color='#ffffff'></box-icon>
                </div>
                <h6>www.techsolutionsID.com</h6>
            </li>
            <li>
                <div class="box">
                    <box-icon name='phone' color='#ffffff'></box-icon>
                </div>
                <h6>+1(809) 678 1819</h6>
            </li>
            <li>
                <div class="box">
                    <box-icon name='envelope' color='#ffffff'></box-icon>
                </div>
                <h6>info@techsolutionsid.com</h6>
            </li>
        </ul>
    </div>
</section>


{% endblock %}